<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>enterprise</string>
	<key>signingCertificate</key>
	<string>26A81253A00C87FE083195619F265D8423F790B7</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.phoenixroberts.phxr</key>
		<string>dae3007d-dbd8-4f85-bfbd-5cbef813cd3b</string>
	</dict>
</dict>
</plist>
